
<div class="container text-center my-5 border border-warning">
  <div class="title pt-5">
    <h1>Welcome to <br>The Longest Word-Game</h1>
  </div>
  <div class="rules pb-3">
    <h3>The Rules are as follow:</h3>
    <ul>
      <li>You are given a random set of letters</li>
      <li>You have to enter the longest english word you can find using only letters in the grid</li>
      <li>After typing your answer, you get your score combined with the time you took, and eventually an error message if you failed</li>
    </ul>
  </div>
  <div class="text-center mb-5 btn btn-warning" style="text-decoration: none;">
    <%= link_to 'Start Game', new_path %>
  </div>
</div>
